{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}新規作成{% endblock %}

{% block content %}
<h1>新規作成</h1>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% bootstrap_form form %}
  <!-- {{ form.as_p}}と記述するだけでフォームを表示してくれる。as_pはフォームの内容をpタグで囲って表示するという意味。
  さらにbootstrapを導入したものが {% bootstrap_form form %}
  {{ form.as_p }} -->
  <br>
  <a href="{% url 'list' %}">戻る</a>
  <input type="submit" class="btn btn-primary" value="登録">
</form>
{% endblock %}